 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="/"><h3 class=" text-center text-white"><i class="fa-solid fa-cart-shopping"></i> &nbsp; LORA </h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><input (keyup)="search($event)" type="text" class="form-control ms-4 "  style="border-radius: 25px; border: 1px solid black;" placeholder="Search your products"></li>

                <li class="nav-item"><a class="nav-link active  " aria-current="page" id="wishlist"  routerLink="products/wishlist">Wishlist</a></li>
            </ul>
            <form class="d-flex">
                <a routerLink="products/cart" class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-light text-dark ms-1 rounded-pill">{{cartcount}}</span>
                </a>
            </form>
        </div>
    </div>
</nav>

