   <!-- Footer-->
   <footer class="py-5 bg-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12  mt-2">
                <h6 class="heading1">Get us Know</h6>
                <a href="">Careers</a> <br>
                <a href="">Press releases</a> <br>
                <a href="">About us</a> <br>
                <a href="">Lora Sciences</a> <br>



            </div>
            <div class="col-lg-3 col-sm-12 col-md-3 mt-2">
                <h6 class="heading1">Connnet with us</h6>
                <a href="">Facebook</a> <br>
                <a href="">Instagram</a> <br>
                <a href="">Google</a> <br>

            </div>
            <div class="col-lg-3 col-sm-12 col-md-3   mt-2">
                <h6 class="heading1">Make  money with us</h6>
                <a href="">Sell on Lora</a> <br>
                <a href="">Sell under Lora Accelerator</a> <br>
                <a href="">Protect  and build your brand</a> <br>

            </div>
            <div class="col-lg-3 col-sm-12 col-md-3   mt-2">
                <h6 class="heading1">Let us help you</h6>
                <a href="">Your Account</a> <br>
                <a href="">Returns centre</a> <br>
                <a href="">100% purchase protection</a> <br>

            </div>
        </div>
    </div>
</footer>
