
<!-- <pre>{{allproducts  | json}}</pre> -->
<!-- gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-12 -->
<div style="margin-top:5% ;">
<!-- wishlist  -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row justify-content-center">
            <div *ngFor="let product of allproducts | filter:searchterm:'title' " class="col-lg-3 col-md-3 col-sm-2 mb-3">
                <div class="card h-100 align-items-center p-4">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="product.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>
                            <!-- Product price-->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><button (click)="addtowishlist(product)" class="btn btn-outline-danger mt-auto" routerLink=""><i class="fa fa-heart "></i></button>
                            <button  (click)="addcart(product)" class="btn btn-outline-warning mt-auto ms-4" ><i class="fa fa-cart-plus"></i></button>
                        </div>

                    </div>
                </div>
            </div>
</div>
</div>
</section>
</div>